@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-scroll{
  overflow-y: hidden;
}

@layer base {
  h1,h2,h3,h4 {
    font-family: var(--font-mukta);
  }
  p{
    font-family: var(--font-openSans);
  }
}